.logo{
	padding-left:30px; 
	font-size: 16px;
}
.navbar{
	height: 60px;
	line-height: 60px;
	background-color: #eee;
}
.center{
	text-align: center;
}
.radius{
	border-radius: 50px;

}
.btn-lg{
	width: 200px;
	height: 80px;
	font-size: 30px;
}
