doctype 
html
  head
    meta(charset='UTF-8')    
    meta(name='viewport', content='width=device-width,initial-scale=1,user-scalable=0')
    title #{title}
    link(rel='stylesheet', href='../backend/wechat/css/weui.min.css')
    link(rel='stylesheet', href='../backend/wechat/css/style.css')
  body