<div ng-controller="OrderDayCtrl">
    <h2 class="page-header">
        日报表
        
    </h2>

    <div class="row hidden-xs hidden-sm">
        <div class="row">
            <div class="col-md-3 text-center">
                报表名称
            </div>
            <div class="col-md-2" >
                <span class="h-sort" >
                    年份
                    <i class="fa fa-sort"></i>
                </span>
            </div>
            <div class="col-md-2" ng-click="col='month';desc=!desc">
                    月份
            </div>
            <div class="col-md-2">
                    日
            </div>
            <div class="col-md-2 text-center" >操作</div>
        </div>
    </div>
    <hr>

<div class="row cus-item fade-pin" ng-repeat="o in order | orderBy:col:desc | filter: pinSort | offset: (currentPage-1)*itemsPerPage |  limitTo:itemsPerPage">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-3 text-center">
               <a href="{{o.link}}" ng-bind="o.year+'年'+o.month+'月'+o.day+'日报表' " download="{{o.file}}"></a>
            </div>
            <div class="col-md-2 ">
                <p ng-bind="o.year"></p>
            </div>
            <div class="col-md-2">
                <p ng-bind="o.month"></p>
            </div>
            <div class="col-md-2">
                <p ng-bind="o.day"></p>
            </div>

            <div class="col-md-3">
                <a class="btn btn-success" ui-sref="web.overDetail({id:{{o.year+o.month+o.day}}})" style="margin-left:30px;">预览</a>
            </div>

        </div>
    </div>
</div>
<!-- /.row -->
 <uib-pagination total-items="order.length" ng-model="currentPage" max-size="5" class="pagination-sm" boundary-links="true" rotate="false" items-per-page="itemsPerPage" num-pages="numPages" ng-show="order.length>
itemsPerPage" next-text="下一页" previous-text="上一页" first-text="首页" last-text="尾页">
</uib-pagination>

</div>