<div ng-controller="MemberCtrl" class="row">
      <div class="two-thirds column main">
        <input autofocus type="text" placeholder="输入手机号查找..." ng-model="search" ng-keypress="searchMember(search)">
         <!-- ng-keypress="searchMember()" -->
        <button type="button" class="button button-primary" ng-click="searchMember(search)">搜索</button>
                  
        <table class="u-full-width">
          <thead>
            <tr>
              <th>序号</th>
              <th>姓名</th>
              <th>卡号</th>
              <th>手机号</th>
              <th>开卡时间</th>
              <th>操作</th>
            </tr>
          </thead>
          <tbody>
             <tr ng-repeat="m in member">
              <td ng-bind="$index+1"></td>
              <td ng-bind="m.name"></td>
              <td ng-bind="m.card"></td>
              <td ng-bind="m.phone"></td>
              <td ng-bind="m.time | datetime"></td>
              <td> 
                <button class="button button-primary">选择</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="one-third column side">

        <h4 class="center">添加会员</h4>
        <div class="row">
          <div class="member-i">
            姓名：<input type="text">
          </div>
          <div class="member-i">
            手机：<input type="text">
          </div>
          <button class="button button-primary btn-bill" ng-click="addMember()">添加</button>
        </div>
      </div>
</div>






