<div ng-controller="MemberCtrl" class="row">
      <div class="two-thirds column main">
        <input autofocus type="text" placeholder="输入手机号查找..." ng-model="search" ng-change="searchMember(search)">
         <!-- ng-keypress="searchMember()" -->
        <button type="button" class="button button-primary" ng-click="searchMember(search)">搜索</button>
                  
        <table class="u-full-width">
          <thead>
            <tr>
              <th>序号</th>
              <th>姓名</th>
              <th>卡号</th>
              <th>手机号</th>
              <th>开卡时间</th>
              <th>操作</th>
            </tr>
          </thead>
          <tbody>
             <tr ng-repeat="m in member">
              <td ng-bind="$index+1"></td>
              <td ng-bind="m.username"></td>
              <td ng-bind="m.code"></td>
              <td ng-bind="m.phone"></td>
              <td ng-bind="m.createtime*1000 | datetime"></td>
              <td> 
                <button class="button button-primary" style="margin-bottom:0">选择</button>
                <button class="button" style="margin-bottom:0">详情</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="one-third column side">

        <h4 class="center">会员卡详情</h4>
        <div class="row">
          <div class="member-i">
            姓名：
          </div>
          <div class="member-i">
            手机：
          </div>
          <button class="button button-primary btn-bill" ng-click="addMember()" >添加</button>
        </div>
      </div>
</div>






