<div ng-controller="PetcardCtrl" class="row">
    <div class="two-thirds column main">
        <input autofocus type="text" placeholder="输入手机号查找..." ng-model="search" ng-change="searchPetcard(search)">
        <!-- ng-keypress="searchMember()" -->
        <button type="button" class="button button-primary" ng-click="searchPetcard(search)">搜索</button>
        <table class="u-full-width">
            <thead>
                <tr>
                    <th>姓名</th>
                    <th>会员卡类型</th>
                    <th>手机号</th>
                    <th>余额</th>
                    <th>开卡日期</th>
                    <th>操作</th>

                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="p in petcards">
                    <td ng-bind="p.username"></td>
                    <td ng-bind="p.type"></td>
                    <td ng-bind="p.phone"></td>
                    <td ng-bind="p.balance | currency:'¥' "></td>
                    <td ng-bind="p.start | onlydate ""></td>
                    <td> <button class="button button-primary" ng-click="selectOne(p.phone)">选择</button> </td>
                </tr>
            </tbody>
        </table>
        <div class="wx-alipay-type" ng-class="{true: 'visible', false: 'disvisible'}[outwrap]">
            <div class="wechat" ng-class="{true: 'visible', false: 'disvisible'}[wxshow]">
                <form ng-submit="wechatPosPay(auth_code)">
                    微信支付：
                    <input id="pet-wechat" type="text" ng-model="auth_code">
                </form>
            </div>
            <div class="alipay" ng-class="{true: 'visible', false: 'disvisible'}[alipayshow]">
                <form ng-submit="alipayPosPay(alipay_auth_code)">
                    支付宝支付：
                    <input id="pet-alipay" type="text" ng-model="alipay_auth_code">
                </form>
            </div>
        </div>
    </div>
    <div class="one-third column side">
        <h4 class="center">储值会员卡充值</h4>
        <div class="row petcard-box">
            <label for="" class="one-third column">
                手机号 
            </label>
            <div class="two-thirds column">
                <input class="block" type="text" placeholder="手机号（必填）" ng-model="petcard.phone">
            </div>
        </div>
        <div class="row petcard-box">
            <label for="" class="">
                支付方式
            </label>
            <div class="" style="margin-left:30px;">
                <label class="p-label"  ng-repeat="petrule in petrules" style="height: inherit;">
                    <input type="radio" name="petcard" ng-model="petcard.petrule" ng-value="petrule._id" ng-change="change(petrule)" > <span></span>{{petrule.name}}
                </label>
            </div>
        </div>
        <div class="row" style="margin-top: 20px;">
            <div class="one-third column pay-type" ng-repeat="p in payTypeArr">
                <div class="p-radio">
                    <input class="p-radio-i w-70px" type="radio" name="type" ng-click="selectType(p,$index)"><span class="w-70px">{{p}}</span>
                </div>
            </div>
        </div>
        <div class="row" ng-hide="wechatHide">
            <button class="button button-primary block" ng-click="saveFunc()" >确认充值</button>
            <a class="button cash-box" ng-hide="cashboxHide" href="cashbox:">弹出钱箱</a>
        </div>
    </div>
</div>













