<div ng-controller="PetcardCtrl" class="row">
    <div class="two-thirds column main">
        <input autofocus type="text" placeholder="输入手机号查找..." ng-model="search" ng-change="searchMember(search)">
        <!-- ng-keypress="searchMember()" -->
        <button type="button" class="button button-primary" ng-click="searchMember(search)">搜索</button>
        <table class="u-full-width">
            <thead>
                <tr>
                    <th>序号</th>
                    <th>姓名</th>
                    <th>会员卡类型</th>
                    <th>卡号</th>
                    <th>手机号</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="m in member">
                    <td ng-bind="$index+1"></td>
                    <td ng-bind="m.username"></td>
                    <td ng-bind="m.title"></td>
                    <td ng-bind="m.code"></td>
                    <td ng-bind="m.phone"></td>
                    <td>
                        <button class="button" style="margin-bottom:0" ng-click="memberDetail(m._id)">详情</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="one-third column side petcard-box">
        <h4 class="center">添加储值卡</h4>
        <div class="row ">
            <label for="" class="one-third column">
                姓名
            </label>
            <div class="two-thirds column">
                <input class="block" type="text" placeholder="姓名（必填）" ng-model="petcard.username">
            </div>
        </div>
        <div class="row">
            <label for="" class="one-third column">
                手机号
            </label>
            <div class="two-thirds column">
                <input class="block" type="text" placeholder="手机号（必填）" ng-model="petcard.phone">
            </div>
        </div>
        <div class="row">
            <label for="" class="one-third column">
                性别
            </label>
            <div class="two-thirds column">
                <div class="row">
                    <div class="one-half column" ng-repeat="sex in sexes">
                        <label class="p-label">
                            <input type="radio" name="sex" ng-model="petcard.sex" ng-value="sex" > <span></span>{{sex}}
                        </label>

                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <label for="" class="one-third column">
                生日
            </label>
            <div class="two-thirds column">
                <input class="block" type="date" ng-model="petcard.birthday" placeholder="生日">
            </div>
        </div>
        <div class="row">
            <label for="" class="one-third column">
                充值
            </label>
            <div class="two-thirds column" >
                <label class="p-label"  ng-repeat="pettype in pettypes">
                    <input type="radio" name="petcard" ng-model="petcard.pettype" ng-value="pettype.value" ng-change="change()"> <span></span>{{pettype.label}}
                </label>
            </div>
        </div>
        <div class="row">
            <button class="button button-primary block" ng-click="sureFunc()">确认</button>
        </div>
    </div>
</div>













