<div ng-controller="PetruleAddCtrl">
	<h2 class="page-header">
		添加套餐
		<a href="javascript:window.history.go(-1)" type="button" class="btn btn-primary ml-20"> <i class="fa fa-angle-left"></i>
			返回
		</a>
		<button type="button" class="btn btn-success" ng-click="savePetrule(petrule)"> <i class="fa fa-save"></i>
			保存
		</button>
	</h2>

	<div class="row cus-border">
		<div class="col-md-12 cus-txt">
			<h4>套餐</h4>
		</div>
		<form name="petruleFrom">
			<div class="col-md-6 col-md-offset-3">
				<div class="cus-petrule">
					<div class="row">
						<div class="col-xs-12">
							<p style="color:#DD5044;">请填写套餐充值的规则，如：充值(100)元送(20)元，只在下面填写金额。</p>
						</div>
						<div class="col-xs-6">
							<div class="form-group">
								<label class="col-sm-5 control-label">充值</label>
								<div class="col-sm-7" ng-class="{'has-danger': petruleFrom.fee.$invalid}">
									<input type="text" name="fee" class="form-control" placeholder="充值" ng-model="petrule.fee" ng-disabled="isEdit" ng-maxlength="4"></div>
							</div>
						</div>

						<div class="col-xs-6">
							<div class="form-group">
								<label class="col-sm-5 control-label">送</label>
								<div class="col-sm-7" ng-class="{'has-danger': petruleFrom.bonus.$invalid}">
									<input type="text" name="bonus" class="form-control" placeholder="赠送" ng-model="petrule.bonus" ng-disabled="isEdit" ng-maxlength="4"></div>
							</div>

						</div>
						<div class="col-xs-12">
							<p style="color:#DD5044;">请填写积分规则，此规则是每消费多少元，积多少分，此功能暂时作为保留功能。 如：每消费(10)元送(1)积分，只在下面填写数字。</p>
						</div>
						<div class="col-xs-6">
							<div class="form-group">
								<label class="col-sm-5 control-label">每消费</label>
								<div class="col-sm-7" ng-class="{'has-danger': petruleFrom.consume.$invalid}">
									<input type="text" name="consume" class="form-control" placeholder="积分" ng-model="petrule.consume" ng-disabled="isEdit" ng-maxlength="4"></div>
							</div>
						</div>

						<div class="col-xs-6">
							<div class="form-group">
								<label class="col-sm-5 control-label">送</label>
								<div class="col-sm-7" ng-class="{'has-danger': petruleFrom.int.$invalid}">
									<input type="text" name="int" class="form-control" placeholder="积分" ng-model="petrule.int" ng-disabled="isEdit" ng-maxlength="4"></div>
							</div>

						</div>
						<div class="col-xs-12">
							<div class="form-group">
								<label class="col-sm-3 control-label">套餐名称</label>
								<div class="col-sm-9">
									<div class="form-control" ng-disabled="isEdit">充值{{petrule.fee}}元，赠送{{petrule.bonus}}元</div>
								</div>
							</div>
						</div>
						<div class="col-xs-12">
							<div class="form-group">
								<label class="col-sm-3 control-label">是否启用</label>
								<div class="col-sm-9">
									<button type="button" class="form-control form-select" ng-model="petrule.status" data-html="1" data-toggle="true" bs-options="use.value as use.label for use in uses" ng-disabled="isEdit" placeholder="请选择" bs-select>
										<span class="caret"></span>
									</button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

		</form>

	</div>

</div>