<div ng-controller="PetruleCtrl">
    <h2 class="page-header">
        储值卡套餐
        <a ui-sref="web.petruleAdd" class="btn btn-danger ml-10"  data-animation="am-flip-x" data-placement="bottom" bs-tooltip data-title="添加套餐"> <i class="fa fa-plus fa-lg"></i>
        </a>
    </h2>

    <div class="row hidden-xs hidden-sm">
        <div class="row">
            <div class="col-md-3 text-center">套餐名称</div>
            <div class="col-md-2" ></div>
            <div class="col-md-2">创建时间</div>
            <div class="col-md-2">状态</div>
            <div class="col-md-2 text-center" >操作</div>
        </div>
    </div>
    <hr>

    <div class="row cus-item fade-pin" ng-repeat="p in petrules | orderBy:col:desc | filter: pinSort | offset: (currentPage-1)*itemsPerPage |  limitTo:itemsPerPage">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-3 text-center">
                    <p ng-bind="p.name"></p>
                </div>
                <div class="col-md-2 "></div>
                <div class="col-md-2">
                    <p ng-bind="p.start |datetime"></p>
                </div>
                <div class="col-md-2">
                    <span ng-show="p.status==0" class='label label-success'>激活</span>
                    <span ng-show="p.status==1" class='label label-default'>禁用</span>
                </div>

                <div class="col-md-3">
                    <a class="btn btn-success" ui-sref="web.petruleDetail({id:p._id})" style="margin-left:30px;">查看</a>
                </div>

            </div>
        </div>
    </div>
    <!-- /.row -->
    <uib-pagination total-items="order.length" ng-model="currentPage" max-size="5" class="pagination-sm" boundary-links="true" rotate="false" items-per-page="itemsPerPage" num-pages="numPages" ng-show="order.length>
        itemsPerPage" next-text="下一页" previous-text="上一页" first-text="首页" last-text="尾页">
    </uib-pagination>

</div>