<div ng-controller="BilllistCtrl" class="row billlist">
      <div class="two-thirds column main">
        <h4>今日订单</h4>
        <table class="u-full-width">
          <thead>
            <tr>
              <th>序号</th>
              <th>编号</th>
              <th>金额</th>
              <th>时间</th>
              <th>操作</th>
            </tr>
          </thead>
          <tbody>
             <tr ng-repeat="o in orders">
              <td>{{$index+1}}</td>
              <td ng-bind="o.orderNum"></td>
              <td ng-bind="o.total | currency:'¥' "></td>
              <td ng-bind="o.time | time"></td>
              <td> 
                <button class="button button-primary" ng-click="lookAll(o._id)">查看详情</button>
                <button class="button ">重新打印</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="one-third column side print-view">
        <div class="detail" id="print">
        <h5 class="center" style="margin-bottom:20px;">SEEK CAFE 结账单</h5>
          <div class="detail-item">
            <span class="">
              店铺地址：
            </span>
            <span class="" ng-bind="order.address">
            </span>
          </div>
          <hr>
          <div class="detail-item">
            <span class="">
              订单编号：
            </span>
            <span class="" ng-bind="order.orderNum">
            </span>
          </div>
          <div class="detail-item">
            <span class="">
              下单时间：
            </span>
            <span class="" ng-bind="order.time | datetime"></span>
          </div>
          
          <div class="detail-item">
            <span class="">
              用餐人数：
            </span>
            <span class="" ng-bind="order.peopleNum">
            </span>
          </div>
          <hr>
          <div class="detail-item">
            <table class="u-full-width">
              <thead>
                <tr>
                  <th>名称</th>
                  <th>数量</th>
                  <th>金额</th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="d in order.dish">
	              <td ng-bind="d.name"></td>
	              <td>{{d.number}}
	              </td>
	              <td ng-bind="d.price*d.number | currency:'¥' "></td>
	            </tr>
              </tbody>
            </table>
          </div>
          <hr>
          <div class="detail-item">
            <span class="">
              支付方式：
            </span>
            <span class="" ng-bind="payTypeArr[order.payType]">  
          </div>
          
          <div class="detail-item">
            <span class="">
              金额合计：
            </span>
            <span class="" ng-bind="order.total | currency:'¥' ">
            </span>
          </div>
          <div class="detail-item">
            <span class="">
              减免金额：
            </span>
            <span class="" ng-bind=" order.reduce | currency:'¥' ">
            </span>
          </div>
          <div class="detail-item">
            <span class="">
              优惠后金额：
            </span>
            <span class="" ng-bind="order.reduceAfter | currency:'¥' ">
            </span>
          </div>

          <div class="detail-item">
            <span class="">
              实收合计：
            </span>
            <span class="" ng-bind="order.realTotal | currency:'¥' ">
            </span>
          </div>
          <hr>
        </div>
        <!-- <button class="button  btn-bill">清空</button> -->
      </div>
    </div>