<div ng-controller="BillCtrl" class="row ">
      <div class="one-third column">
        <div class="pay">
		<div class="panel-group" role="tablist" aria-multiselectable="true" bs-collapse>
		  <div class="panel panel-default pay-item" ng-show="order.payType==3">
		    <div class="panel-heading" role="tab">
		      <h4 class="panel-title">
		        <a bs-collapse-toggle>
		          会员识别
		        </a>
		      </h4>
		    </div>
		    <div class="panel-collapse" role="tabpanel" bs-collapse-target>
		      <div class="panel-body">
		        <table class="u-full-width">
	                <tbody>
	                  <!-- <tr>
	                    <td><h6>实体会员卡</h6><p>
	                      请将会员卡放入感应区
	                    </p></td>
	                    <td><button class="button button-primary">读卡</button></td>
	                  </tr>
	                  <tr>
	                    <td><h6>微信会员识别</h6><p>
	                      顾客微信扫码
	                    </p></td>
	                    <td><button class="button button-primary">扫码</button></td>
	                  </tr>
	                  <tr>
	                    <td><h6>会员支付码</h6><p>
	                      扫顾客的会员支付码
	                    </p></td>
	                    <td><button class="button button-primary">扫码</button></td>
	                  </tr>
	                  <tr>
	                    <td><h6>会员搜索</h6><p>
	                      姓名/手机/会员号
	                    </p></td>
	                    <td><button type="button" ng-click="" class="button button-primary" data-animation="am-fade-and-scale" placement="center" data-template-url="member.tpl.html" bs-modal>搜索</button></td>
	                  </tr> -->
                    <tr>
                      <td><h6>微信买单</h6><p>
                        系统将自动结算
                      </p></td>
                      <td>
                        <button class="button button-primary" ng-hide="wechatTag" ng-click="wechatPay()">选择</button>
                        <button class="button" ng-click="wechatPayCancel()" ng-show="wechatTag">取消</button>

                      </td>
                    </tr>
                    <tr>
                      <td><h6>现金结账</h6><p>
                        搜索会员手机号
                      </p></td>
                      <td><button type="button" ng-click="" class="button button-primary" data-animation="am-fade-and-scale" placement="center" data-template-url="member.tpl.html" bs-modal>选择</button></td>
                    </tr>
	                </tbody>
	              </table>
		      </div>
		    </div>
		  </div>
		  <div class="panel panel-default pay-item" ng-show="order.payType==6">
		    <div class="panel-heading" role="tab">
		      <h4 class="panel-title">
		        <a bs-collapse-toggle>
		          优惠券
		        </a>
		      </h4>
		    </div>
		    <div class="panel-collapse" role="tabpanel" bs-collapse-target>
		      <div class="panel-body">
		        <table class="u-full-width">
                <tbody>
                  <tr>
                      <td><h6>打折券</h6><p>
                        只能结算微信"打折券"买单
                      </p></td>
                      <td>
                        <button class="button button-primary" ng-hide="wechatTag" ng-click="wechatDiscountPay()">选择</button>
                        <button class="button" ng-click="wechatPayCancel()" ng-show="wechatTag">取消</button>

                      </td>
                  </tr>
                   <tr>
                      <td><h6>代金券</h6><p>
                        只能结算微信"代金券"买单
                      </p></td>
                      <td>
                        <button class="button button-primary" ng-hide="wechatTag" ng-click="wechatCashPay()">选择</button>
                        <button class="button" ng-click="wechatPayCancel()" ng-show="wechatTag">取消</button>

                      </td>
                  </tr>
                </tbody>
              </table>
		      </div>
		    </div>
		  </div>
		  <div class="panel panel-default pay-item">
		    <div class="panel-heading" role="tab">
		      <h4 class="panel-title">
		        <a bs-collapse-toggle>
		          打折
		        </a>
		      </h4>
		    </div>
		    <div class="panel-collapse" role="tabpanel" bs-collapse-target>
		      <div class="panel-body">
		        <table class="u-full-width">
                <tbody>
                  <tr>
                    <td><h6>折扣（1～99）</h6></td>
                    <td><input type="text" ng-model="discount"></td>
                  </tr>
                  <tr>  
                    <button style="padding: 0 10px;width:72px;font-size:16px;margin-right:15px;margin-bottom:20px;" type="button" class="button" ng-repeat="dd in discountDfault" ng-bind="dd+'折'" ng-click="discountFunc(dd)"></button>
                  </tr>

                    <tr>
                    <td></td>
                    <td><button class="button button-primary" ng-click="discountFunc(discount)">确认</button></td>
                  </tr>
                </tbody>
              </table>
		      </div>
		    </div>
		  </div>
		  <div class="panel panel-default pay-item">
		    <div class="panel-heading" role="tab">
		      <h4 class="panel-title">
		        <a bs-collapse-toggle>
		          减免
		        </a>
		      </h4>
		    </div>
		    <div class="panel-collapse" role="tabpanel" bs-collapse-target>
		      <div class="panel-body">
		        <table class="u-full-width">
                <tbody>
                  <tr>
                    <td><h6>减免金额：</h6></td>
                    <td><input type="text" ng-model="reduce"></td>
                  </tr>
                 <!--  <tr>
                    <td>减免前：</td>
                    <td ng-bind="totalReal | currency:'¥' "></td>
                  </tr> -->
                  <tr>
                    <td>减免后：</td>
                    <td ng-bind="totalReal | currency:'¥' "></td>
                  </tr>
                  <tr>
                    <td></td>
                    <td><button class="button button-primary" ng-click="reduceFunc(reduce)">确认</button></td>
                  </tr>
                </tbody>
              </table>
		      </div>
		    </div>
		  </div>
		  <div class="panel panel-default pay-item">
		    <div class="panel-heading" role="tab">
		      <h4 class="panel-title">
		        <a bs-collapse-toggle>
		           挂账
		        </a>
		      </h4>
		    </div>
		    <div class="panel-collapse" role="tabpanel" bs-collapse-target>
		      <div class="panel-body">
            <div class="row">
              <div class="one-third column pay-type" ng-repeat="p in creditArr">
                  <div class="p-radio">
                    <input class="p-radio-i" type="radio" name="type" ng-click="selectCredit($index)" ><span>{{p}}</span>
                      
                  </div>
              </div>
            </div>

		      </div>
		    </div>
		  </div>
      <div class="wechat">
        <form ng-submit="wechatPosPay(auth_code)">
          <input id="wechat" type="text" ng-model="auth_code">
        </form>
      </div>

		</div>
        </div>
      </div>
      <div class="one-third column main bill-main">
        <h4>支付方式</h4>
        <div class="row">
          <div class="one-third column pay-type" ng-repeat="p in payTypeArr">
              <div class="p-radio">
                <input class="p-radio-i" type="radio" name="type" ng-click="selectType($index)" ><span>{{p}}</span>
                
              </div>
          </div>
        </div>
        <table class="u-full-width">
          <thead>
            <tr>
              <th style="width:30%">名称</th>
              <th>数量</th>
              <th style="text-align:center">单价</th>
              <th>金额</th>
              <th>支付方式</th>
            </tr>
          </thead>
          <tbody>
             <tr ng-repeat="cc in order.dish">
             <td class="show-pill">{{cc.name}} <span class="no-sale" ng-show="cc.ishost=='1' ">NO</span></td>
              <td>{{cc.number}}</td>
              <td >
                <a bs-dropdown aria-haspopup="true" aria-expanded="false" placement="bottom" ng-bind="cc.price | currency:'¥' "  class="item-dis"></a>
                    <ul class="dropdown-menu" role="menu">
                        <li> 
                          <button style="padding: 0 10px;" type="button" class="button" ng-repeat="dd in discountDfault" ng-bind="dd+'折'" ng-click="discountItemFunc(cc,dd)"></button>
                          <button style="padding: 0 10px;" type="button" class="button" ng-click="discountItemFunc(cc,100)">不打折</button>
                        </li>
                    </ul>
              </td>
              <td class="show-pill">
                <span ng-bind="cc.reducePrice*cc.number | currency:'¥' "></span>

                <span ng-show="cc.reduceNum != null && cc.reduceNum !=100 && cc.reduceNum !=0" class="pill">{{cc.reduceNum}}折</span></td>
              <td> 
                  <button style="padding: 0 10px;width:72px;font-size:16px;margin-bottom:0" type="button" class="button" bs-dropdown aria-haspopup="true" aria-expanded="false" placement="bottom" >{{payTypeArr[cc.payType]}}</button>
                    <ul class="dropdown-menu" role="menu">
                        <li ng-repeat="p in payTypeArr">
                            <button class="button" style="padding: 0 10px;"  ng-bind="p" ng-click="selectPay(cc,$index)"></button>
                        </li>
                    </ul>
              </td>
            </tr>
          </tbody>
        </table>
        <div>
          <h4>减免： 
            <span ng-bind="order.reduce | currency:'¥' "></span>
            <button ng-click="discountFunc(100)" class="button " style="padding: 0 10px;float:right">取消减免</button>
          </h4>

          <h4>合计： 
            <span ng-bind="order.realTotal | currency:'¥' "></span>
            <button ng-click="roundFunc(order)" class="button " style="padding: 0 10px;float:right">抹零</button>
          </h4>
        </div>
        <button ng-disabled="wechatTag" class="button button-primary btn-bill" data-animation="am-fade-and-scale" placement="center" data-template-url="setdish.tpl.html" bs-modal="cashInfo" id="bill" data-backdrop="static" ng-hide="wechatHide">结算</button>
      </div>
      <div class="one-third column side print-view bill-side">
        <!--startprintbill-->
        <div class="detail" id="print">
          <h5 class="center" style="margin-bottom:20px;">SEEK CAFE 结账单</h5>
          <div class="detail-item">
            <span>
              店铺地址：
            </span>
            <span ng-bind="order.address">
            </span>
          </div>
          <div class="hr">------------------------------------------------------------------------------</div>
          <div class="detail-item">
            <span>
              订单编号：
            </span>
            <span ng-bind="order.orderNum" class="f12">
            </span>
          </div>
          <div class="detail-item">
            <span>
              下单时间：
            </span>
            <span ng-bind="order.time | datetime" class="f12"></span>
          </div>
<!--           <div class="detail-item">
            <span>
              订单状态：
            </span>
            <span ng-bind="order.orderStatus">
            </span>
          </div> -->
          
          <div class="detail-item">
            <span>
              用餐人数：
            </span>
            <span ng-bind="order.peopleNum">
            </span>
          </div>
          <div class="detail-item">
            <span>
              取餐号：
            </span>
            <span ng-bind="order.dishNum">
            </span>
          </div>

         <div class="hr">------------------------------------------------------------------------------</div>
  
          <div class="detail-item">
            <table class="u-full-width">
              <thead>
                <tr>
                  <th>名称</th>
                  <th>数量</th>
                  <th>金额</th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="cc in cookCart">
	                <td>
                    {{cc.name}} <span ng-show="cc.other1==1">(套餐)</span>
                    <div ng-show="cc.other1==1">
                      <span ng-repeat="da in cc.dishArr" style="font-size: 12px;">
                        {{da.dishSelect}}
                      </span>
                    </div>
                  </td>
	                <td>{{cc.number}}</td>
  	              <td ng-bind="cc.reducePrice*cc.number | currency:'¥' "></td>    
  	            </tr>
                
              </tbody>
            </table>
          </div>
          <div class="hr">------------------------------------------------------------------------------</div>
  
          <div class="detail-item">
            <span>
              支付方式：
            </span>
            <span ng-repeat="pt in order.payType" ng-bind="payTypeArr[pt]+' ' ">           
            </span>

          </div>
          <div class="detail-item" ng-show="order.isMember">
            <span>
              会员姓名：
            </span>
            <span ng-bind="order.memberName">              
            </span>
          </div>
          <div class="detail-item" ng-show="order.isMember">
            <span>
              会员手机：
            </span>
            <span ng-bind="order.memberPhone">             
            </span>
          </div>
          <div class="detail-item" ng-show="order.isMember">
            <span>
              会员卡号：
            </span>
            <span ng-bind="order.memberNum">             
            </span>
          </div>
          <div class="detail-item">
            <span>
              金额合计：
            </span>
            <span ng-bind="order.total | currency:'¥' ">
            </span>
          </div>
          <div class="detail-item">
            <span>
              减免金额：
            </span>
            <span ng-bind="order.reduce | currency:'¥' ">
            </span>
          </div>
          <div class="detail-item">
            <span>
              优惠后金额：
            </span>
            <span ng-bind="order.reduceAfter | currency:'¥' ">
            </span>
          </div>

          <div class="detail-item" >
            <span>
              实收合计：
            </span>
            <span ng-bind="order.realTotal | currency:'¥' ">
            </span>
          </div>
          <div class="detail-item now-time">
            <span>
              打印时间：
            </span>
            <span ng-bind="nowtime | datetime">
            </span>
          </div>

        </div>
        <!--endprintbill-->
        <!-- <button class="button  btn-bill">清空</button> -->
      </div>
    </div>

 <script type="text/ng-template" id="member.tpl.html">
    <div class="modal modal-member" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" ng-click="$hide()">&times;</button>
                    <h4 class="modal-title">会员搜索</h4>
                </div>
                <div class="modal-body" >
                  <div class="search-content">
                      <input class="search" autofocus type="text" placeholder="输入手机号查找..." ng-model="search" ng-change="searchMember(search)">
                       <!-- ng-keypress="searchMember()" -->
                      <button type="button" class="button" ng-click="searchMember(search)" style="color:#333;">搜索</button>
                  </div>
                  <table class="u-full-width">
                    <thead>
                      <tr>
                        <th>姓名</th>
                        <th>卡号</th>
                        <th>手机号</th>
                        <th>操作</th>
                      </tr>
                    </thead>
                    <tbody>
                       <tr ng-repeat="m in member">
                        <td ng-bind="m.username"></td>
                        <td ng-bind="m.code"></td>
                        <td ng-bind="m.phone"></td>
                        <td> 
                          <button class="button button-primary" ng-click="selectMember(m);$hide()">选择</button>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
            <div class="modal-footer">
                <button type="button" class="button " ng-click="$hide()">关闭</button>
            </div>
        </div>
        </div>
    </div>
</script>


 <script type="text/ng-template" id="setdish.tpl.html">
    <div class="modal modal-setdish" tabindex="-1" role="dialog">
        <div class="modal-dialog" style="width:500px;">
            <div class="modal-content" >
                <div class="modal-header">
                    <!-- <button type="button" class="close" ng-click="$hide()">&times;</button> -->
                    <h5 class="modal-title" style="color:#fff; margin-bottom: 0">设置取餐号</h5>
                </div>
                <div class="modal-body" style="height:480px;padding-top: 50px;">
                  <h5>结账已经成功，请设置取餐号！</h5>
                   <form name="dishnumForm" ng-submit="billing(dishNum)">
                      
                      <input type="number" name="dishnum" ng-model="dishNum" autofocus style="padding:24px 10px;width:120px;font-size:24px;margin-right:20px;vertical-align: sub;" >
                      <button class="button button-primary p-sure" ng-disabled="dishnumForm.dishnum.$invalid" ng-click="billing(dishNum)" >确认</button>
                   </form>
                  <div ng-show="order.payType==0">
                    
                     <h5 style="text-align:left;padding-left:30px;">请选择收钱金额：</h5>
                    <div class="p-radio p-cash" ng-repeat="cash in cashInfo">
                      <input class="p-radio-i" type="radio" name="type" ng-click="selectCash(cash)" ><span>{{cash}}</span>
                    </div>
                    <h5 style="margin-top:20px;margin-bottom:0;text-align:left;padding-left:30px">
                       手动输入：<input type="number" name="dishnum" ng-model="cash" ng-change="selectCash(cash)" autofocus style="padding:24px 10px ;width:120px;font-size:24px;margin-right:20px;vertical-align: sub;" >
                    </h5>
                   <h5 style="text-align:left;padding-left:30px;" ng-show="cashTotal>=0">找零金额：<span ng-bind="cashTotal | currency:'¥'" style="color:#ef2d2d;font-size:30px;" ></span></h5>
                    
                  </div>
                </div>
        </div>
        </div>
    </div>
</script>







