<div ng-controller="BilllistCtrl" class="row billlist">
      <div class="two-thirds column main">
        <h4>今日订单</h4>
        <table class="u-full-width">
          <thead>
            <tr>
              <th>序号</th>
              <th>编号</th>
              <th>金额</th>
              <th>时间</th>
              <th>操作</th>
            </tr>
          </thead>
          <tbody>
             <tr ng-repeat="b in bills">
              <td>{{$index+1}}</td>
              <td ng-bind="b.number"></td>
              <td ng-bind="b.total | currency:'¥' "></td>
              <td ng-bind="b.time | time"></td>
              <td> 
                <button class="button button-primary">查看详情</button>
                <button class="button ">重新打印</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="one-third column side print-view">
        <div class="detail" id="print">
        <h5 class="center" style="margin-bottom:20px;">SEEK CAFE 结账单</h5>
          <div class="detail-item">
            <span class="">
              店铺地址：
            </span>
            <span class="" ng-bind="info.address">
            </span>
          </div>
          <hr>
          <div class="detail-item">
            <span class="">
              订单编号：
            </span>
            <span class="" ng-bind="info.number">
            </span>
          </div>
          <div class="detail-item">
            <span class="">
              下单时间：
            </span>
            <span class="" ng-bind="info.time | datetime"></span>
          </div>
          <div class="detail-item">
            <span class="">
              订单状态：
            </span>
            <span class="" ng-bind="info.status">
            </span>
          </div>
          
          <div class="detail-item">
            <span class="">
              用餐人数：
            </span>
            <span class="" ng-bind="info.people">
            </span>
          </div>
          <hr>
          <div class="detail-item">
            <table class="u-full-width">
              <thead>
                <tr>
                  <th>名称</th>
                  <th>数量</th>
                  <th>金额</th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="cc in cookCart">
	              <td ng-bind="cc.name"></td>
	              <td>{{cc.number}}
	              </td>
	              <td ng-bind="cc.price*cc.number | currency:'¥' "></td>
	            </tr>
              </tbody>
            </table>
          </div>
          <hr>
          <div class="detail-item">
            <span class="">
              支付方式：
            </span>
            <span class="">
              现金支付
            </span>
          </div>
          
          <div class="detail-item">
            <span class="">
              金额合计：
            </span>
            <span class="" ng-bind="total | currency:'¥' ">
            </span>
          </div>
          <div class="detail-item">
            <span class="">
              减免金额：
            </span>
            <span class="" ng-bind="total-totalReal | currency:'¥' ">
            </span>
          </div>
          <div class="detail-item">
            <span class="">
              优惠后金额：
            </span>
            <span class="" ng-bind="totalReal | currency:'¥' ">
            </span>
          </div>

          <div class="detail-item">
            <span class="">
              实收合计：
            </span>
            <span class="" ng-bind="totalReal | currency:'¥' ">
            </span>
          </div>
          <hr>
        </div>
        <!-- <button class="button  btn-bill">清空</button> -->
      </div>
    </div>