<div class="navbar" ng-controller="NavCtrl">
    <div class="row">
    <div class="two columns">
      <div class="logo">
        SEEK CAFE
      </div>
    </div>
      <div class="five columns">&nbsp;<button onclick="window.history.go(-1)" class="button back">返回</button></div>
            
      <div class="three columns">
        <div class="row">
          <div class="column">
            <div class="time" ng-bind="time | time"></div>
          </div>
          <!-- <div class="one-half column">
            <div class="set">
              一些设置
            </div>
          </div>
 -->        </div>
      </div>
      <div class="two columns">
        <button class="button-primary btn-p10" ng-click="startDay()" ng-show="status">开班</button>
        <button class="button btn-p10" ng-click="" ng-show="!status" data-animation="am-fade-and-scale" placement="center" data-template-url="stopView.tpl.html" bs-modal>结班</button>
        <button style="margin-left:10px;" class="button btn-p10" ng-show="!status"  data-animation="am-fade-and-scale" placement="center" data-template-url="exchange.tpl.html" bs-modal="gradeData" ng-click="exchangeFunc()">交班</button>
      </div>  
    </div>
  </div>
  <div class="content" ui-view></div>

  <script type="text/ng-template" id="stopView.tpl.html">
    <div class="modal" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" ng-click="cancleSchedule();$hide()">&times;</button>
                    <h4 class="modal-title">结班</h4>
                </div>
                <div class="modal-body" >
                  <div class="detail one-half column">
                    <div class="detail-item">
                      <span class="">
                        订单编号：
                      </span>
                      <span class="">
                        B34067201610010001
                      </span>
                    </div>
                    <div class="detail-item">
                      <span class="">
                        下单时间：
                      </span>
                      <span class="">
                        2016-10-01 19:23:20
                      </span>
                    </div>
                    <div class="detail-item">
                      <span class="">
                        订单状态：
                      </span>
                      <span class="">
                        已确认
                      </span>
                    </div>
                    <div class="detail-item">
                      <span class="">
                        支付方式：
                      </span>
                      <span class="">
                        无
                      </span>
                    </div>
                    <div class="detail-item">
                      <span class="">
                        用餐人数：
                      </span>
                      <span class="">
                        2
                      </span>
                    </div>
                    <div class="detail-item">
                      <table class="u-full-width">
                        <thead>
                          <tr>
                            <th>序号</th>
                            <th>名称</th>
                            <th>数量</th>
                            <th>单价</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr ng-repeat="cc in cookCart">
                          <td>{{$index+1}}</td>
                          <td ng-bind="cc.name"></td>
                          <td>{{cc.number}}
                          </td>
                          <td ng-bind="cc.price | currency:'¥' "></td>
                        </tr>
                        </tbody>
                      </table>
                    </div>
                    <div class="detail-item">
                      <span class="">
                        减免金额：
                      </span>
                      <span class="" ng-bind="total-totalReal | currency:'¥' ">
                      </span>
                    </div>
                    <div class="detail-item">
                      <span class="">
                        订单合计：
                      </span>
                      <span class="" ng-bind="totalReal | currency:'¥' ">
                      </span>
                    </div>
                  </div>
                  <div class="detail one-half column">
                    <div class="detail-item">
                      <span class="">
                        订单编号：
                      </span>
                      <span class="">
                        B34067201610010001
                      </span>
                    </div>
                    <div class="detail-item">
                      <span class="">
                        下单时间：
                      </span>
                      <span class="">
                        2016-10-01 19:23:20
                      </span>
                    </div>
                    <div class="detail-item">
                      <span class="">
                        订单状态：
                      </span>
                      <span class="">
                        已确认
                      </span>
                    </div>
                    <div class="detail-item">
                      <span class="">
                        支付方式：
                      </span>
                      <span class="">
                        无
                      </span>
                    </div>
                    <div class="detail-item">
                      <span class="">
                        用餐人数：
                      </span>
                      <span class="">
                        2
                      </span>
                    </div>
                    <div class="detail-item">
                      <table class="u-full-width">
                        <thead>
                          <tr>
                            <th>序号</th>
                            <th>名称</th>
                            <th>数量</th>
                            <th>单价</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr ng-repeat="cc in cookCart">
                          <td>{{$index+1}}</td>
                          <td ng-bind="cc.name"></td>
                          <td>{{cc.number}}
                          </td>
                          <td ng-bind="cc.price | currency:'¥' "></td>
                        </tr>
                        </tbody>
                      </table>
                    </div>
                    <div class="detail-item">
                      <span class="">
                        减免金额：
                      </span>
                      <span class="" ng-bind="total-totalReal | currency:'¥' ">
                      </span>
                    </div>
                    <div class="detail-item">
                      <span class="">
                        订单合计：
                      </span>
                      <span class="" ng-bind="totalReal | currency:'¥' ">
                      </span>
                    </div>
                  </div>
                </div>
            <div class="modal-footer">
                <button type="button" class="button " ng-click="$hide()">关闭</button>
                <button type="button" class="button button-primary" ng-click="stopDay();$hide()">打印</button>
            </div>
        </div>
        </div>
    </div>
  </script>

   <script type="text/ng-template" id="exchange.tpl.html">
    <div class="modal modal-warning" tabindex="-1" role="dialog">
        <div class="modal-dialog" style="width:500px;">
            <div class="modal-content" >
                <div class="modal-header">
                    <button type="button" class="close" ng-click="$hide()">&times;</button>
                    <h5 class="modal-title" style="color:#fff; margin-bottom: 0">提示框</h5>
                </div>
                <div class="modal-body" style="height:320px;padding-top: 50px;">
                    <h5 style="color:#333; font-size:22px;">请核对账款信息，再确认交班</h5>
                    
                    <h5 style="color:#333; font-size:20px;font-weight: normal;"> 收银员：{{gradeData.username}} </h5>
                    <h5 style="color:#333; font-size:20px;font-weight: normal;"> 实收：{{gradeData.grade | currency:'¥'}} </h5>
                    <h5 style="color:#333; font-size:20px;font-weight: normal;"> 虚收：{{gradeData.noincome | currency:'¥' }} </h5>
                    <button class="button button p-sure" ng-click="$hide()" style="color:#333;margin-right:30px;">取消</button>     
                    <a class="button button-primary p-sure" href="/logout" ng-click="$hide()" >确认</a>                
                </div>
        </div>
        </div>
    </div>
</script>













