<div class="navbar" ng-controller="NavCtrl">
    <div class="row">
    <div class="two columns">
      <div class="logo">
        SEEK CAFE
      </div>
    </div>
      <div class="five columns">&nbsp;<button onclick="window.history.go(-1)" class="button back">返回</button></div>
            
      <div class="three columns">
        <div class="row">
          <div class="column">
            <div class="time" ng-bind="time | time"></div>
          </div>
          <!-- <div class="one-half column">
            <div class="set">
              一些设置
            </div>
          </div>
 -->        </div>
      </div>
      <div class="two columns">
        <button class="button-primary btn-p10" ng-click="startDay()" ng-show="status">开班</button>
        <button class="button btn-p10" ng-click="" ng-show="!status" data-animation="am-fade-and-scale" placement="center" data-template-url="stopView.tpl.html" bs-modal="todayData">结班</button>
        <button style="margin-left:10px;" class="button btn-p10" ng-show="!status"  data-animation="am-fade-and-scale" placement="center" data-template-url="exchange.tpl.html" bs-modal="gradeData" ng-click="exchangeFunc()">交班</button>
      </div>  
    </div>
  </div>
  <div class="content" ui-view></div>

  <script type="text/ng-template" id="stopView.tpl.html">
    <div class="modal" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" ng-click="cancleSchedule();$hide()">&times;</button>
                    <h4 class="modal-title">结班</h4>
                </div>
                <div class="modal-body" >
                  <div class="detail one-half column"  style="width:280px;">
                    <h5>结班报告</h5>
                    <div class="detail-item">
                      <span >
                        用餐人数：
                      </span>
                      <span ng-bind="todayData.overAll.people"></span>
                    </div>
                    <div class="detail-item">
                      <span >
                        开台数：
                      </span>
                      <span ng-bind="todayData.overAll.stand"></span>
                    </div>
                    <div class="detail-item">
                      <span >
                        赠单金额：
                      </span>
                      <span ng-bind="todayData.overAll.onceincome| currency:'¥'"></span>
                    </div>
                    <div class="detail-item">
                      <span >
                        优惠金额：
                      </span>
                      <span ng-bind="todayData.overAll.reduce - todayData.overAll.noincome - todayData.overAll.onceincome | currency:'¥'"></span>
                    </div>
                    <div class="detail-item">
                      <span >
                        品项消费：
                      </span>
                      <span ng-bind="todayData.overAll.total | currency:'¥'"></span>
                    </div>
                    <div class="detail-item">
                      <span >
                        应收合计：
                      </span>
                      <span  ng-bind="todayData.overAll.reduceAfter | currency:'¥' ">
                      </span>
                    </div>
                    <div class="detail-item">
                      <span >
                        实际收入合计：
                      </span>
                      <span  ng-bind="todayData.overAll.grade | currency:'¥' ">
                      </span>
                    </div>
                    <div class="detail-item">
                      <span >
                        挂账：
                      </span>
                      <span  ng-bind="todayData.overAll.noincome | currency:'¥' ">
                      </span>
                    </div>
                    <div class="detail-item">
                      <span >
                        合计：
                      </span>
                      <span  ng-bind="todayData.overAll.grade +todayData.overAll.noincome| currency:'¥' ">
                      </span>
                    </div>
                    <div class="detail-box" ng-repeat="ov in todayData.overs">
                        <h5>收银员：<span ng-bind="ov.editPeople"></span> </h5>
                      <div class="detail-item">
                        <span >
                          用餐人数：
                        </span>
                        <span ng-bind="ov.people"></span>
                      </div>
                      <div class="detail-item">
                        <span >
                          开台数：
                        </span>
                        <span ng-bind="ov.stand"></span>
                      </div>
                      <div class="detail-item">
                        <span >
                          赠单金额：
                        </span>
                        <span ng-bind="ov.onceincome| currency:'¥'"></span>
                      </div>
                      <div class="detail-item">
                        <span >
                          优惠金额：
                        </span>
                        <span ng-bind="ov.reduce - ov.noincome - ov.onceincome | currency:'¥'"></span>
                      </div>
                      <div class="detail-item">
                        <span >
                          品项消费：
                        </span>
                        <span ng-bind="ov.total | currency:'¥'"></span>
                      </div>
                      <div class="detail-item">
                        <span >
                          应收合计：
                        </span>
                        <span  ng-bind="ov.reduceAfter | currency:'¥' ">
                        </span>
                      </div>
                      <div class="detail-item">
                        <span >
                          实际收入合计：
                        </span>
                        <span  ng-bind="ov.grade | currency:'¥' ">
                        </span>
                      </div>
                      <div class="detail-item">
                        <span >
                          挂账：
                        </span>
                        <span  ng-bind="ov.noincome | currency:'¥' ">
                        </span>
                      </div>
                      <div class="detail-item">
                        <span >
                          合计：
                        </span>
                        <span  ng-bind="ov.grade +ov.noincome| currency:'¥' ">
                        </span>
                      </div>
                    </div>
                  </div>
                  <div class="detail one-half column" style="width:280px;">
                    <h5>品项报告</h5>
                    <div class="detail-item">
                      <table class="u-full-width">
                        <thead>
                          <tr >
                            <th>名称</th>
                            <th>数量</th>
                            <th>单价</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr ng-repeat="it in todayData.items">
                          <td ng-bind="it.name"></td>
                          <td>{{it.number}}
                          </td>
                          <td ng-bind="it.price | currency:'¥' "></td>
                        </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
            <div class="modal-footer">
                
                <button type="button" class="button button-primary" ng-click="printOver()" style="margin-right:10px;">打印结班报告</button>
                <button type="button" class="button button-primary" ng-click="printItem()" style="margin-right:50px;">打印品项报告</button>
                <button type="button" class="button" ng-click="stopDay();$hide()" style="margin-right:10px;">确认结班</button>
                <button type="button" class="button " ng-click="$hide()">关闭</button>
            </div>
        </div>
        </div>
    </div>
  </script>

   <script type="text/ng-template" id="exchange.tpl.html">
    <div class="modal modal-warning" tabindex="-1" role="dialog">
        <div class="modal-dialog" style="width:500px;">
            <div class="modal-content" >
                <div class="modal-header">
                    <button type="button" class="close" ng-click="$hide()">&times;</button>
                    <h5 class="modal-title" style="color:#fff; margin-bottom: 0">提示框</h5>
                </div>
                <div class="modal-body ex-box" style="height:420px;padding-top: 50px;">
                    <h5 style="color:#333; font-size:22px;">请核对账款信息，再确认交班</h5>
                    
                    <h5> 收银员：<span ng-bind="gradeData.editPeopl"></span> </h5>
                    <h5> 实收：<span ng-bind="gradeData.totalReal | currency:'¥"></span> </h5>
                    <h5> 虚收：<span ng-bind="gradeData.noincome | currency:'¥'"></span> </h5>
                    <h5> 上班时间：<span ng-bind="gradeData.start | onlytime"></span> </h5>
                    <h5> 交班时间：<span ng-bind="gradeData.stop | onlytime"></span> </h5>
                   <!--  <h5> 共计：<span ng-bind=""></span> </h5> -->
                    <button class="button button p-sure" ng-click="$hide()" style="color:#333;margin-right:30px;">取消</button>     
                    <a class="button button-primary p-sure" href="/logout" ng-click="exchangeSure();$hide()" >确认</a>                
                </div>
        </div>
        </div>
    </div>
</script>

<!-- 
    本班开单人数
    本班开台人数
    本班已结台数
    本班已结人数
    本班赠单金额（使用减免（次卡）的金额）
    优惠金额（使用打折，扣除的优惠部分）
    品项消费（本班收入）
    应收合计（=品项消费-本班赠单金额-优惠金额）


    结算方式：校园一卡通、人民币、支付宝、微信、减免（次卡）
    计入收入合计（=除减免之外的金额）
    不计入收入合计（虚收即挂账）
    合计
    打印时间 
-->











