html,body{
	height: 100%;
	background-color: #F3F5F7;
}
body{
	overflow: hidden;
}
div,p,span,button,input,h1,h2,h3,h4,h5,h6,b{
	font-family: '微软雅黑',Helvetica;
	font-weight: normal;
}

.button,
.button-primary{
	font-size: 16px;
	line-height: 36px;
	font-weight: normal;
	lighting-color: transparent;
	outline: none;
}
button[disabled]{
	background-color: #ddd !important;
	border: 1px solid #ddd !important;

}
button[disabled]:hover,
button[disabled]:focus{
	background-color: #ddd;
	border: 1px solid #ddd;
}
.btn-p10{
	padding: 0 10px;
}
.logo{
	padding-left:30px; 
	font-size: 16px;

}
.navbar{
	// height: 60px;
	line-height: 60px;
	background-color: #333;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	/*z-index: 10;*/
	border-radius: 0;
}
.navbar div,
.navbar button,
.modal button{
	color: #fff;
}
.navbar button:hover,
.navbar button:focus,
.modal button:hover,
.modal button:focus{
	color: #fff;
}
.navbar:after,
.navbar:focus{
	content: '';
	display: block;
	clear: both;
}
.content{
	height: inherit;
	margin: 90px 30px;
}

.content>.row{
	height: inherit;

}
.main{
	overflow-y: auto;
	height: 85%;
}
.bill-main{
	width: 34.6666666667% !important;
	padding-right: 4.5%;
	position: relative;
	right: -30px;
}
.side{
	background-color: #fff;
	height: 94%;
	position: relative;
	top: -29px;
	right: -30px;
	padding: 30px;
	overflow-y: auto;
}
.bill-side {
	margin-left: 0;
}
.content .three.columns{
	margin-left: 0;
	padding: 1%;
	width: 25%;
}
.card{
	display: block;
	background-color: #fff;
	padding: 30px 15px;
	text-decoration: none;
	color: #333;
	-webkit-box-shadow: 0 0 10px rgba(0,0,0,0.1);
	-moz-box-shadow: 0 0 10px rgba(0,0,0,0.1);
	-ms-box-shadow: 0 0 10px rgba(0,0,0,0.1);
	-o-box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
.card small{
	font-size: 14px;
}
.card.active small{
	color: #fff;
}
.card.active{
	background-color: #33C3F0;
	-webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
	-ms-box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
	-o-box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
	
}
.card.active h3{
	color: #fff;
}
.card.active p{
	color: #fff;
}
.card:hover,
.card:focus{
	color: #333;
	-webkit-box-shadow: 0 0 20px rgba(0,0,0,0.3);
	-moz-box-shadow: 0 0 20px rgba(0,0,0,0.3);
	-ms-box-shadow: 0 0 20px rgba(0,0,0,0.3);
	-o-box-shadow: 0 0 20px rgba(0,0,0,0.3);
	text-decoration: none;
}
.card h3{
	font-size: 20px;
	margin-bottom: 1rem;

}
.card p{
	font-size: 20px;
	margin-bottom: 0;

}
.center{
	text-align: center;
}
.right{
	text-align: right;
}

.radius{
	border-radius: 50px;

}
.btn-start{
	width: 200px;
	height: 80px;
	font-size: 30px;
}
.ctrl{
	margin-left: 20px;
}
.ctrl .button{
	padding: 0 15px;
	margin-bottom: 0;
}
.btn-bill{
	display: block;
	width: 100%;
	height: 60px;
	line-height: 58px;
	font-size: 20px;
}
.detail{
	padding: 30px;
	width:220px;
	margin: 0 auto;
	font-size: 14px;
}
.detail h5{
	font-size: 18px;
}

.detail-item{
	text-align: left;
}
.pay td{
	border-bottom: 0;
}
.pay-item h6,
.pay-item p,
.pay-item input{
	margin-bottom: 0;
}
.pay-item h6{
	font-size: 18px;
}
.pay-item p{
	color: #666;

}
.pay-item .button{
	height: 50px;
	width: 120px;
	margin-bottom: 0;
	font-size: 18px;

}
.pay-item .btn-free{
	width: 100%;

}
.pay-type{
	margin-left: 2% !important;
	margin-bottom: 25px;

}
.pay-type span{
	font-size: 20px;
}
.pay-type .button{
	width: 90px;
	text-align: center;
	display: block;
	padding: 0;
}

/* 手风琴样式 */
.panel-group .panel {
    margin-bottom: 0;
}
.panel-default {
    border-color: #ddd;
}
.panel {
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid transparent;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
}
.panel-default>.panel-heading {
    background-color: #333;
    border-color: #fff;
}
.panel-group .panel-heading {
    border-bottom: 0;
}
.panel-heading {
    
    border-bottom: 1px solid transparent;
}
.panel-title {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 16px;
    color: inherit;
}
.panel-title>a{
	display: block;
	padding: 15px 20px;
	cursor: pointer;
	font-size: 18px;
	color: #fff;
}
.panel-default>.panel-heading+.panel-collapse>.panel-body {
    border-top-color: #ddd;
}

.panel-group .panel-heading+.panel-collapse>.list-group, .panel-group .panel-heading+.panel-collapse>.panel-body {
    border-top: 1px solid #ddd;
}
.panel-body {
    padding: 20px 30px;
}
.collapse {
    display: none;
}
.collapse.in {
    display: block;
}
/*搜索会员弹窗*/
.modal-member{

}
.modal-member .modal-body{
	padding: 30px;
}
.modal-member .search-content{
	text-align: left;
}
.modal-member .search-content input.search{
	padding: 24px;
    font-size: 18px;
    width: 345px;
    margin-right: 20px;
}
/* 模态弹窗 */
.modal-open {
    overflow: hidden;
}
.modal-open .modal {
    overflow-x: hidden;
    overflow-y: auto;
}
.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 20;
    display: none;
    overflow: hidden;
    -webkit-overflow-scrolling: touch;
    outline: 0;
}
.modal-lg {
    width: 900px;
}
.modal-dialog{
	margin: 60px auto;
	position: relative;
}
.modal-content {
    position: relative;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #999;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: 6px;
    outline: 0;
    -webkit-box-shadow: 0 0 10px rgba(0,0,0,.3);
    box-shadow: 0 0 10px rgba(0,0,0,.3);

}
.modal-content h4{
	color: #fff;
	margin-bottom: 0;
}
.modal-body div{
	color: #333 !important;
}
.modal-header {
    min-height: 16.43px;
    padding: 15px;
	background-color: #333;
}
.modal-body {
    position: relative;
    padding: 20px;
    overflow: auto;
    height: 460px;
}
.modal-footer {
    padding: 10px;
    text-align: right;
	background-color: #333;
}
.close{
	position: absolute;
    right: 0;
    top: 12px;
    font-size: 30px;
    margin-bottom: 0;
    border: none;
}
.modal-backdrop{
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.7) !important;
    z-index: 10 !important;
}

/* 结账单打印预览 */
.print-view{
	
}
.print-view hr {
	margin-top: 1.8rem;
    margin-bottom: 1.8rem;
    border-top: 1px dashed #000;
}

.print-view th{
	/*text-align: center;*/
}

.print-view td{
	border-bottom: 0;

}
.print-view th:nth-of-type(2){
	text-align: center;
}	
.print-view td:nth-of-type(2){
	text-align: center;
}	
/**/
.billlist button{
	margin-bottom: 0;
}
.hr	{
	white-space: nowrap;
	overflow: hidden;
}
.now-time {
	display: none;
	
	margin-top: 20px;
}
/*打印部分样式*/
@media print{
	.no-print{
		display: none;
	}
	.print-view{
		display: block !important;
	}
	.detail{
		display: block !important;

		padding: 0;
		margin: 0;
		width: 180px;
		height: 100%;
		color: #000;
		font-family: '微软雅黑';
		font-weight: 300;
		font-size: 13px;
	}
	.detail h5{
		text-align: center;
	}
	.detail th{
		font-weight: 300;
	}
	#print-content{
		display: block !important;
		position: absolute;
		top: 0;
		z-index: 100;
	}
	.now-time {
		display: block;
		font-size: 12px;
	}
	.now-time span {
		font-size: 10px;
	}
	.f12{
		font-size: 12px !important;
	}
	
}

@page:first {
  margin: 0;
}

/*首页*/
.modal-people .modal-body{
	height: 240px;
}
.modal-people .modal-body>.row{
	margin-left: 40px;
    margin-top: 20px;

}
.modal-people .button.btn-p{
	color: #333
}
.no-margin{
	margin: 0 10px 20px 10px !important;
}
.p-radio{
	width: 40px;
	padding: 5px 30px;
	height: 40px;
	line-height: 40px;
	font-size: 24px;
	position: relative;
	text-align: center;
}
.p-radio-i {
	position: absolute;
	left: 0;
	top: 0;
	display: block;
	z-index: 10;
	width: 80px !important;
	height: 52px !important;
	opacity: 0;
	cursor: pointer;
}
.p-radio-i + span{
	position: absolute;
	left: 0;
	top: 0;
	line-height: 50px;
	z-index: 0;
	width: 80px;
	height: 52px;
	border: 1px solid #999;
	border-radius: 5px;
	
}
.p-radio-i:checked + span{
	background-color: #33C3F0;
	border: 1px solid #33C3F0;
	color: #fff;
}
.p-sure{
	padding: 10px 40px;
	height: 50px;
	line-height: 30px;
	margin-top: 20px;
}
/*会员信息*/
.member-i{
	font-size: 18px;
	line-height: 1.8em;
}
.member-i input{
	width: 280px;
	font-size: 18px;
	padding: 20px 15px !important;
}

.dropdown-menu{
	position: fixed;
	left: 50% !important;
	top: 35% !important;
	list-style: none;
	width: 240px;
	background-color: #fff;
	padding: 40px 20px 20px 20px;
	margin-left: -100px;
	border: 5px solid #33C3F0;
	z-index: 100;
}

.dropdown-menu li{
	display: inline-block;
}
.dropdown-menu li .button{
	margin-right: 10px;
	width: 70px;
}

/* 打折小提示 */
.show-pill{
	position: relative;
}

.show-pill .pill{
	position: absolute;
	right: -10px;
	top: 0;
	background-color: #f60;
	color: #fff;
	padding: 0px 10px;
	font-size: 14px;
}
/*是否参与促销*/
.show-pill .no-sale{
	position: absolute;
	top: 0;
	right: 0;
	background-color: #DD4E42;
	color: #fff;
	padding: 0px 5px;
	font-size: 12px;
}

/* 订单列表 */
.bl-panel{
	border: 1px solid #ccc;
	border-radius: 5px;
	padding: 15px 20px;
	background-color: #fff;
}
.alert{
	position: fixed;
    top: 61px;
    right: 0;
    height: 70px;
    line-height: 70px;
    background-color: rgba(252,102,33,0.9);
    color: #fff;
    font-size: 20px;
    padding: 0 50px 0 30px;
}
.alert button{
	color: #fff;
}

/* 交班模块 */
.ex-box h5{
	color:#333; 
	font-size:20px;
	font-weight: normal;
}

::selection {
	background-color: transparent;
}
.modal-footer a,
.modal-footer a:hover{
	color: #ccc;
}

/* 找零 */
.p-cash {
	display: inline-block;
	margin: 10px 20px;
}

/* 微信支付 */
.wechat{
	opacity: 0;
}









