html(lang="en")
head
  meta(charset="UTF-8")
  meta(name='viewport', content='width=device-width, initial-scale=1')
  meta(http-equiv='x-ua-compatible', content='ie=edge')

  title #{title}
  link(rel='stylesheet', href='../backend/css/apiview.css')
body
  div.wrap
    h1  来盆虾 实时金额统计
    div.content
      h3 商业大学店
      h3 总金额：
        span#total1
    div.content
      h3 工业大学店
      h3 总金额：
        span#total2

  script(src="../backend/libs/jquery/dist/jquery.min.js")
  script(src="../backend/js/apiview.js")
