doctype
html
  head
      title SEEK CAFE 点餐系统-添加门店
      meta(charset='utf-8')
      meta(name='viewport', content='width=device-width, initial-scale=1')
      meta(http-equiv='x-ua-compatible', content='ie=edge')
      link(rel='stylesheet', href='../backend/libs/bootstrap/dist/css/bootstrap.min.css')
      link(rel='stylesheet', href='../backend/css/signup.css')
    body
      canvas#Mycanvas
      .container
        .row
          .sign-wrap
            form#f-domain
              //- method="POST", action="/domain/addctrl"
              h2 添加门店
              h3 输入门店名称或编号，添加门店
              .form-group.add-input(style="margin-bottom:45px;")             
                input#inputEmail.form-control(name="domain[name]",type='text', placeholder='门店编号', required='', autofocus='')                    
              .form-group
                div#f-alert.alert.alert-danger(role="alert")            
              .form-group.mt-20
                button.btn.btn-lg.btn-primary.btn-block(type='submit') 添加
        .footer
          .text-center © 2016 呐呐科技 
      script(src='../backend/js/line.js')
      script(src="../backend/libs/jquery/dist/jquery.min.js")
      script(src='../backend/js/domainverify.js')
