doctype
html
html
  head
      title 来盆虾 点餐系统-登录
      meta(charset='utf-8')
      meta(name='viewport', content='width=device-width, initial-scale=1')
      meta(http-equiv='x-ua-compatible', content='ie=edge')
      link(rel='stylesheet', href='backend/libs/bootstrap/dist/css/bootstrap.min.css')
      link(rel='stylesheet', href='backend/css/signup.css')
    body
      canvas#Mycanvas
      .container
        .row
          .sign-wrap
            form(id="f-signin",autocomplete="off")
              h2 来盆虾 点餐系统
              .form-group
                label.sr-only(for='inputPhone') 手机号
                input#inputPhone.form-control(name="user[phone]",type='text', placeholder='暂时仅支持手机号登录', required='', autofocus='',autocomplete="off")
                span.phone
              .form-group
                label.sr-only(for='inputPassword') 密码
                input(type='password',style="display:none")
                input#inputPassword.form-control(name="user[password]",type='password', placeholder='密码', required='',autocomplete="off")
                span.password
              .form-group
                div#f-alert.alert.alert-danger(role="alert")
              .form-group.mt-20
                button#f-submit.btn.btn-lg.btn-primary.btn-block(type='submit') 登录
              .form-group.mt-20.text-center
                a(href="/forgot") 忘记密码
        .footer
          .text-center © 2016 呐呐科技
      script(src='backend/js/line.js')
      script(src="http://captcha.luosimao.com/static/js/api.js")
      script(src="backend/libs/jquery/dist/jquery.min.js")
      script(src='backend/js/verify.js')
