<div ng-controller="TableAddCtrl">
	<h2 class="page-header">
		添加餐桌
		<a href="javascript:window.history.go(-1)" type="button" class="btn btn-primary ml-20"> <i class="fa fa-angle-left"></i>
			返回
		</a>
		<button type="button" class="btn btn-success" ng-click="saveTable(table)"> <i class="fa fa-save"></i>
			保存
		</button>
	</h2>

	<div class="row cus-border">
		<div class="col-md-12 cus-txt">
			<h4>添加餐桌</h4>
		</div>
		<form name="petruleFrom">
			<div class="col-md-6 col-md-offset-3">
				<div class="cus-petrule">
					<div class="row">
						<div class="col-xs-12">
							<p style="color:#DD5044;">保存后将自动生成二维码</p>
						</div>
						<div class="col-xs-12">
							<div class="form-group">
								<label class="col-sm-5 control-label">餐桌号</label>
								<div class="col-sm-7" ng-class="{'has-danger': petruleFrom.num.$invalid}">
									<input type="text" name="num" class="form-control" placeholder="餐桌号" ng-model="table.num" ng-disabled="isEdit" ng-maxlength="10"></div>
							</div>
						</div>

					</div>
				</div>
			</div>

		</form>

	</div>

</div>