include ./includes/header_i
include ./includes/nav
.container.mt-60
    .shadow-box
        form
          .row
            h3.text-center 新建会计账号
          |                 
          .row.item
            .col-xs-12.col-md-6.col-md-offset-3
              .input-group.input-group-lg
                span.input-group-addon
                  i.glyphicon.glyphicon-user
                |                             
                input.form-control(type='text', placeholder='名称',name="account[name]",required)
          |                 
          .row.item
            .col-xs-12.col-md-6.col-md-offset-3
              .input-group.input-group-lg
                span.input-group-addon
                  i.glyphicon.glyphicon-phone
                |                             
                input.form-control(type='text', placeholder='手机号',name="account[phone]",required)
          |                 
          .row.item
            .col-xs-12.col-md-6.col-md-offset-3
              .input-group.input-group-lg
                span.input-group-addon
                  i.glyphicon.glyphicon-lock
                |                             
                input.form-control(type='password', placeholder='密码',name="account[password]",required)
          |                 
          .row.mt-20
            .col-xs-12.col-md-6.col-md-offset-3
              button.btn.btn-success.btn-lg.btn-block(type='submit', href='add_account.html')
                span.glyphicon.glyphicon-ok
                |  保存
script(src="../../backend/libs/jquery/dist/jquery.min.js")
script(src="../../backend/libs/bootstrap/dist/js/bootstrap.min.js")
