include ./includes/header_i
nav.navbar.navbar-inverse.navbar-fixed-top(role='navigation')
  .container
      .navbar-header
        button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navbar', aria-expanded='false', aria-controls='navbar')
          span.sr-only
          |                     
          span.icon-bar
          |                     
          span.icon-bar
          |                     
          span.icon-bar
        |                 
        a.navbar-brand(href='#') SEEK CAFE
        |             
      #navbar.collapse.navbar-collapse
        ul.nav.navbar-nav.pull-right
          li
              a(href='/manager/setting') 设置
          li
            a(href='/manager/logout') 退出     
.container.mt-60
  if role === 20
    h3.text-center 数据统计 
      button#refresh.btn.btn-primary.ml-20(type="button")
        span.glyphicon.glyphicon-refresh
        | 刷新
    .row
      .col-md-12
        ul.nav.nav-tabs(role='tablist')
          li.active(role='presentation')
            a(href='#tr', role='tab', data-toggle='tab') 天软 
          li(role='presentation')
            a(href='#ts', role='tab', data-toggle='tab') 天商                    
          li(role='presentation')
            a(href='#jb', role='tab', data-toggle='tab') 晋滨
          li(role='presentation')
            a(href='#jj', role='tab', data-toggle='tab') 津京
        .tab-content
          #tr.tab-pane.fade.in.active(role='tabpanel')
            h3 天软微吧店
            p
              | 总收入：
              span#tr-data.red                               
          #ts.tab-pane.fade(role='tabpanel')
            h3 天商微渡店
            p
              | 总收入：
              span#ts-data.red                     
          #jb.tab-pane.fade(role='tabpanel')
            h3 晋滨国际店
            p
              | 总收入：
              span#jb-data.red                                         
          #jj.tab-pane.fade(role='tabpanel')
            h3 津京互联店
            p
              | 总收入：
              span#jj-data.red 
  .row
    if role === 20
      .col-md-4.mt-20
        a.btn.btn-success.btn-lg.btn-block(href='/manager/account')
          span.glyphicon.glyphicon-user
          |  会计管理
    .col-md-4.mt-20
      a.btn.btn-primary.btn-lg.btn-block(href='/manager/report')
        span.glyphicon.glyphicon-list-alt
        |  财务报表
    .col-md-4.mt-20
      a.btn.btn-danger.btn-lg.btn-block(href='/manager/item')
        span.glyphicon.glyphicon-list-alt
        |  品项报表
include ./includes/footer_i
script(src="../../backend/js/admin/index.js")