include ./includes/header_i
include ./includes/nav
.container.mt-60
  .shadow-box
    form#setting
      .row
        h3.text-center #{title}             
      .row.item
        .col-xs-12.col-md-6.col-md-offset-3
          .input-group.input-group-lg
            span.input-group-addon
              i.glyphicon.glyphicon-user
            input.form-control(type='text', placeholder='姓名',name="admin[name]",value="#{name}",required)
      .row.item
        .col-xs-12.col-md-6.col-md-offset-3
          .input-group.input-group-lg
            span.input-group-addon
              i.glyphicon.glyphicon-phone
            input.form-control(type='text', placeholder='手机',name="admin[phone]",value="#{phone}",required)
      .row.item
        .col-xs-12.col-md-6.col-md-offset-3
          .input-group.input-group-lg
            span.input-group-addon
              i.glyphicon.glyphicon-lock
            input.form-control(type='password', placeholder='原密码',name="admin[password]",required)
      .row.item
        .col-xs-12.col-md-6.col-md-offset-3
          .input-group.input-group-lg
            span.input-group-addon
              i.glyphicon.glyphicon-lock
            input.form-control(type='password', placeholder='新密码',name="admin[newpassword]",required)
      .row.item
        .col-xs-12.col-md-6.col-md-offset-3
          .input-group.input-group-lg
            span.input-group-addon
              i.glyphicon.glyphicon-lock
            input.form-control(type='password', placeholder='确认新密码',name="admin[surepassword]",required)
      .row
        .col-xs-12.col-md-6.col-md-offset-3
          div#f-alert.alert.alert-danger(role="alert")                 
      .row.mt-20
        .col-xs-12.col-md-6.col-md-offset-3
          button.btn.btn-success.btn-lg.btn-block(type='submit')
            span.glyphicon.glyphicon-ok
            |  保存
script(src="../../backend/libs/jquery/dist/jquery.min.js")
script(src="../../backend/libs/bootstrap/dist/js/bootstrap.min.js")
script(src="../../backend/js/admin/tools.js")
script(src="../../backend/js/admin/setting.js")
