<div ng-controller="SelectCtrl" class="row">
    <div class="two-thirds column main">
        <input type="text" placeholder="拼音首字母搜索菜品..." ng-model="search" ng-keypress="searchFunc(search)">
        <button type="button" class="button button-primary" ng-click="searchFunc(search)">搜索</button>
        <div class="row">
            <div class="three columns" ng-repeat="ca in cate">
                <button ng-click="selectCate(ca)" class="button" ng-bind="ca.label" ng-class="{true: 'button-primary', false: ''}[ca.checked]"></button>
            </div>
        </div>
        <div class="row">
            <div class="three columns" ng-repeat="c in cook">
                <a href="" class="card" ng-click="selectCook(c)" ng-class="{true: 'active', false: ''}[c.checked]">
                    <h3 class="center" ng-bind="c.name"></h3>
                    <small ng-repeat="da in c.dishArr">{{da.dishSelect}} </small>
                    <p class="center"><span ng-bind="c.price | currency:'¥' "></span></p>
                </a>
            </div>
        </div>
    </div>
    <div class="one-third column side" style="width:34.666666%;margin-left:0;">
        <h4 class="center">已选菜品</h4>
        <table class="u-full-width">
            <thead>
                <tr>
                    <!-- <th>序号</th> -->
                    <th style="width:27%;">名称</th>
                    <th style="text-align:center">数量</th>
                    <th>单价</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="cc in cookCart">
                    <!-- <td>{{$index+1}}</td> -->
                    <td ng-bind="cc.name"></td>
                    <td>
                        <span class="ctrl">
                  <button class="button" ng-click="reduce(cc)">-</button>
                  <span style="margin: 0 5px 0 5px;">{{cc.number}}</span>
                        <button class="button button-primary" ng-click="add(cc)">+</button>
                        </span>
                    </td>
                    <td ng-bind="cc.price | currency:'¥' "></td>
                </tr>
            </tbody>
        </table>
        <button ui-sref="web.bill" class="button button-primary btn-bill" ng-click="save()" ng-show="cookCart.length!=0">确认</button>
        <!-- <button class="button  btn-bill">清空</button> -->
    </div>
</div>
